{{> header}}
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center blue-text">Partie de {{userPseudo}}</h1>


        <h5 class="header col s12 light">RoomId: {{roomId}}</h5>

{{!--
    <div class="row center">
        <div class="col s12">
            <a id="join-game-button" class="btn-large waves-effect waves-light">Participer à une partie</a>
        </div>
    </div>
    <div class="row center">
        <div class="col s12">
            <a id="create-game-button" class="btn-large waves-effect waves-light">Créer une nouvelle partie</a>
        </div>
    </div>
    <br><br>
    <div>
        <ul>
            {{#each userNearRooms}}
                <li>{{id}}/{{distance}}</li>
            {{else}}
                <li>Aucune partie à proximié</li>
            {{/each}}
        </ul>
    </div>
 --}}
 </div>
